<div class="login fs-3 card p-2">
  <h1 class="p-2">Atualize os dados do {{car.model}}</h1>
  <form action="/cars/edit" method="POST">
    <input type="text" name="id" value="{{car.id}}" hidden />
    <div class="mb-3">
      <label for="model" class="form-label">Modelo</label>
      <input
        type="text"
        name="model"
        class="form-control form-control-lg"
        value="{{car.model}}"
      />
    </div>
    <div class="mb-3">
      <label for="potencia" class="form-label">Potência</label>
      <input
        type="text"
        name="potencia"
        class="form-control form-control-lg"
        value="{{car.potencia}}"
      />
    </div>
    <div class="mb-3">
      <label for="velMax" class="form-label">Velocidade Máxima em KM/H</label>
      <input
        type="number"
        name="velMax"
        class="form-control form-control-lg"
        value="{{car.velMax}}"
      />
    </div>
    <div class="mb-3">
      <label for="fabricante" class="form-label">Fabricante</label>
      <input
        type="text"
        name="fabricante"
        class="form-control form-control-lg"
        value="{{car.fabricante}}"
      />
    </div>
    <div class="mb-3">
      <label for="ano" class="form-label">Ano</label>
      <input
        type="text"
        name="ano"
        class="form-control form-control-lg"
        value="{{car.ano}}"
      />
    </div>
    <div class="mb-3">
      <label for="valor" class="form-label">Valor R$</label>
      <input
        type="number"
        name="valor"
        class="form-control form-control-lg"
        value="{{car.valor}}"
      />
    </div>

    <input type="submit" value="Atualizar" class="btn btn-primary btn-lg" />
  </form>
</div>
